@import "tailwindcss";
/* @media (min-width: 344px) and (max-width: 640px) {
  .app{
    background-color: lightblue;
  }
  .none{display: none; }
  .All{
    justify-content: center;
  }
  .serach{
    display: none;
  }
  .hi{
    display: none;
  }

  .logo{
    width: 200px;
  }
  .cenbtn{

    gap: 5px;
  }
  .show{
    display: inline;
  }
  .uppf{
    height: 70vh;
  }
  .gama{
    gap: 15px;
 
    justify-content: center;
  }

  .navbottom{
    height: 310px;
  flex-direction: column;  
    padding: 30px; 
    align-items: center;
    }
    .botinner{
      margin-left: 0px;
    }
    .botinner h1{
font-size: 35px;
width: 100%;
padding: 0 0 0 0;
    }
    .botsel{
      left: 0; 
      top: 0;
      margin-left: 0px;
    }
  .procard{
    width: 48%; 

  
  }
  .line{
    display: inline;
    
  }
  .wid{
    width: 100%; 
    padding-top:20px ;
  
  
  
    /* background-color: red; 
  .pad{
    
  }
  .block{
    margin-top: 100px;
    display: block;
    padding-top: 20px;
    height: fit-content;
  }
   .mart{
    margin-top: 50px;
   }

}
@media(min-width:912px){
  .nine{
    width: 250px;
  }
  
} */